autom4te*
*.cache
config.h
confdefs.h
conftest*
*.status
libtool
stamp-h1
*~
Makefile
.*.sw?
.deps
.libs
compile
*.la
*.o
*.lo
*.loT
*.pyc
*.so
*.defs
*.log
*DS_Store*
*(Autosaved)*
ige-mac-integration-*.*.*/*
bindings/python/gtk_osxapplication/gen-gtk_osxapplication.c

# cannot gitignore libtool m4 macros, because they are needed to be able to
# parse aclocal.m4 successfully
